<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
<title>Actualizar Suscripcion</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
			<h1>Actualizacion de Suscripcion</h1>
		</div>
		<div>
			<form th:action="@{/suscripcionController/update}" method="post"
				th:object="${suscripcionEditar}">
				<div class="form-group">
					<label class="form-label">Id suscripcion: </label> <input
						type="text" class="form-control" th:field="*{id}"></input>
				</div>
				<div class="form-group">
					<label for="Plan">Plan: </label> <select class="form-select"
						aria-label="default select expample" th:field="*{plan.id}">
						<option th:each="plan: ${listaPlanes}" th:value="${plan.id}"
							th:text="${plan.nombre}" th:selected="(${plan.id} == *{plan.id})"></option>
					</select>

				</div>
				<div class="col-sm-12">
					<label class="form-label">Ingrese los meses: </label> <input
						type="number" class="form-control" th:field="*{meses}"></input>
				</div>
				<div class="col-sm-12">
					<input type="submit" class="btn btn-dark" value="Actualizar">
				</div>
			</form>
		</div>
	</div>
	<footer th:replace="master/master :: modalLogaut"></footer>
</body>
</html>